.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loading {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 6px solid rgba(62, 62, 62, 0.3);
  border-radius: 50%;
  border-top-color: grey;
  animation: spin 2s ease-in-out infinite;
  -webkit-animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
